#canvas {
    background-color: burlywood;
    width: 600px;
    height: 600px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15%;  

}

body {
    background-color: black;
}